src/main/mule/worker-data-hub-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
   <flow name="worker-data-hub-api-main">
        <http:listener config-ref="worker-data-hub-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="worker-data-hub-api-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
        </error-handler>
    </flow>
    <flow name="get:\fetchWorkerData:worker-data-hub-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="1d3d624b-24bc-4597-8323-6a519f4ae0a1" message='"Worker Data Start Flow"'/>
		<db:select doc:id="b40beb67-28c9-4a6a-94eb-cbc658769518" doc:name="Retrieve data fom the database" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from Wdh.wdh_worker_current WHERE worker_id =:worker_id or employee_number= :employee_number;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
"worker_id" : attributes.queryParams.worker_id,
"employee_number": attributes.queryParams.employee_number
}]]]></db:input-parameters>
		</db:select>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a71e206c-f222-45c7-962a-2d35e39678c0" message='"End Flow"'/>
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
</mule>
